/* New In Component starts */
.overlayContainer{
    position: relative;
    cursor: pointer;
}

.overlay{
    position: absolute;
    text-align: center;
    width: 100%;
    top:40%;
    padding:10px;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 89, 76, .3);
}

/* New In Component ends */

/* Card Container starts */
.cardContainer{
    padding-bottom: 1rem;
}

/* Card Container ends */

/* Pagination link starts*/
.paginationItem{
    background-color: rgba(0, 89, 76, .7);
    color: white;
    padding: .5rem 1rem;
    border: 1px solid white;
}

.paginationItem:hover{
    color: black;

}

/* Pagination link ends*/

