.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  background-color: #003F36;
  padding: 2rem;
}

.footerContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  justify-content: space-between;
}

.icon{
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}

.icon:hover{
  color: #00594C;
}

/* Custom Styles */

/* Navbar starts */
.customColor{
  color: rgba(0, 0, 0, 1)
}

/* Categories start */
.gridContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;
  padding: 2rem 0;
}

.imageContainer{
  padding: 0 150px;
}

.image{
  width: 100%;
  height: auto;
}

.image:hover{
  cursor: pointer;
}



@media (max-width: 720px) {
  .grid {
    width: 100%;
    flex-direction: column;
    grid-gap:1rem;
  }

  .gridContainer{
    grid-template-columns:1fr;
  }

  .imageContainer{
    padding: 0;
  }
  .icon{
    padding: 20px;
  }
}
